:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #110c11;
  --color-bg-base: #050b10;
  --color-bg-surface: #201c23;
  --color-bg-highlight: #0b1b26;
  --color-fg-shade: #7F9887;
  --color-fg-base: #A6B7AB;
  --color-fg-surface: #CDD6CF;
  --color-fg-highlight: #F3F5F4;
  --color-primary-bg: #11252E;
  --color-primary-base: #7c7c7c;
  --color-primary-fg: #966e43;
  --color-secondary-bg: #2B0C17;
  --color-secondary-base: #56182F;
  --color-secondary-fg: #966e43;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Iosevka;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1380px;
  --surface-shadow: 0px 0px 0px #11252E;
  --surface-borderRadius: 26px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 5;
}
